.title{
	text-align: center;
	font-family: "ProximaNova-Reg", sans-serif;
	font-size: 32px;
	color: #333333;
}
.underTitle{
	font-family: "ProximaNova-Reg", sans-serif;
	font-size: 26px;
	padding-left: 12px;
	display: block;
	color: #333333;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0px 15px;
}
.col-sm{
	display: inline-block;
	min-width: 576px;
	max-width: 580px;
	margin: 0 auto;
}
.col-lg{
	display: block;
	min-width: 960px;
	max-width: 960px;
	margin: 0 auto;
}
.docLink{
	text-decoration: none;
	font-size: 16px;
	color: #41688C;
}
.docLink:hover{
	color: #d66768;
	transition: 0.4s;
}
.documents{
	list-style-type: none;
	padding: 0;
}
.content{
	float: left;
	clear: left;
	padding-left: 12px;
}
.list{
	padding-bottom: 12px;
}
.underTitle h3{
	font-size: 23px;
}
.tableUpd{
	padding-left: 12px;
}
.colorTr{
	background-color: #e0e0e0;
}
.sizeFont{
	font-size: 11px;
}
.colorA{
	color: #454545;
}
table{
	width: 100%;
	font-family: "IBMPlexSansRegular", sans-serif;
	color: #454545;
	border-spacing: 0 0;
}
th{
	text-align: left;
	padding: 10px;
}
td{
	padding: 10px;
}
.docFontSize{
	font-size: 16px;
}
.dowloadLink{
	color: #454545;
}
.dowloadLink:hover{
	color: #d66768;
	transition: 0.4s;
}
body, html {
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	height: 60px;
	padding: 10px 0;
	background: #F5F5F5;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.09);
	background-size: cover;
}
#headerInside {
	width: 960px;
	margin: 0 auto;
	height: 70px;
}
#returnBack{
	float: right;
	font-family: "Andale Mono", monospace;
	font-size: 18px;
	padding: 20px 12px 23px 12px;
	width: 70px;
    display: inline-block;
    vertical-align: middle;
}
.naw{
	text-decoration: none;
	color: #41688C;
}
.naw:hover{
	color: #7b94ab;
}
#logo{
	margin-left: 12px;
	width: 168px;
	height: 60px;
	float: left;
	background: url('logo.svg') no-repeat;
	background-size: contain;
}
@font-face {
	font-family: "IBMPlexSansRegular";
	src: url("IBMPlexSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNova-Reg";
	src: url("ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
h4{
	padding-left: 12px;
}